body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(223, 220, 220);
}
.header {
  margin-left: 30%;
}
.Content {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding-top: 50px;
}
.search {
  width: 200px;
  height: 40px;
  margin-bottom: 35px;
  margin-left: 22%;
  border-radius: 20px;
  padding-left: 15px;
  font-size: 16px;
}
.area {
  width: 100%;
  height: 150px;
  padding-top: 10px;
  padding-left: 10px;
}
.btn {
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 4px;
  margin-top: 5px;
}
.buton {
  padding-top: 5px;
  justify-content: space-between;
}
.btn.P {
  background-color: rgb(249, 80, 108);
}
.btn.M {
  background-color: purple;
}
.btn.S {
  background-color: rgb(194, 78, 0);
}
.btn.B {
  background-color: blue;
}
.btn.Y {
  background-color: green;
}
.button {
  float: right;
  margin-right: 0%;
  background-color: green;
  color: white;
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 35px;
  cursor: pointer;
}
.noteList {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 510px;
  padding-top: 10px;
}
.note {
  color: white;
  margin-right: 5px;
  padding-left: 15px;
  border-radius: 15px;
  width: 35%;
}
.note.yellow {
  background-color: rgb(194, 78, 0);
}
.note.pink {
  background-color: pink;
}
.note.purple {
  background-color: purple;
}
.note.blue {
  background-color: blue;
}
.note.green {
  background-color: green;
}
